:root {
	--primary: blue;
	--secondary: white;
	--background: #FFF0EB;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
    line-height: 1.5em;
}


main {
	/* max-width: 37.5em; */
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 0;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

header {
    position: relative;
    z-index: 500;
}

#mmenulogo { display:none;color:#666;text-decoration: none;padding: .25em .5em; border-radius: .25em;margin-left:20px;}
#mmenulogo:hover { background-color: #e6e6e6; cursor: pointer;}
.hides {display:none !important;}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
	height:100px;
	background: rgba(255, 255, 255, .55);
}
#main-h1 {font-family: 'Montserrat', sans-serif;
	text-transform: uppercase; font-size: 3.5em; letter-spacing: 2.5px; color: #e8194d;line-height: 1em;padding:.5em 0;}
#main-h2 {font-family: 'Montserrat', sans-serif;
	text-transform: uppercase; font-size: 1.8em; color: #333; line-height: 1em;padding:1.5em 0 0 0;}
#section_main {min-height:200px;position: relative; text-align:center;background-image: url("/static/img/innoo.png");
    /* background-repeat: no-repeat;
    background-origin: initial;
    background-position: 50%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    width: 100%;
    overflow: hidden;
	}

.page-wrapper {position: relative;}
.page-wrapper .page-background { padding: 10em 1.5em 5em 1.5em;
    }
.line-block {width:50%; height:1px; background-color:#CCC;margin: 5px auto 5px auto !important;}
.top15em {margin-top:1.5em !important;}
.title-block {}
.title-block h2 {padding: 1.5em; 
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase; font-size: 2.5em; letter-spacing: 2.5px; line-height:1em;
	}
.text-block h3 {font-family: 'Raleway', sans-serif; text-transform: uppercase; font-size: 1.5em; letter-spacing: 2.5px;margin: 1.5em 0 .5em 0 !important;}
.section5 .text-block h3 {text-decoration: none; color: #BBB;}
.center {align-items: center; text-align:center;}
.section3 {padding-bottom:3em;}
.section0 {padding:3em 1.5em;}
.section0 .content-wrapper {border-left: 3px solid #e8194d;max-width:1200px;margin: 0 auto;padding: .5em 0 0.5em 2em;}
.section0 .content-wrapper .core-title { line-height:1.5em; /* font-family: 'Raleway', sans-serif; */ font-weight:bold; text-transform: none; font-size: 1.4em;color:#333;padding:0 0 15px 0;}
.section0 .content-wrapper .core-text {margin: 0 auto; font-size: 1.15em; line-height:1.5em;}
.section h2, .section.content-block { padding: 1.5em; margin:0; }
.section3 {padding:0 1.5em 3em 1.5em;}
.section3 .text-block {border-left: 3px solid #e8194d;max-width:1200px;margin: 0 auto;padding: .5em 0 0.5em 2em; margin: 0 auto; font-size: 1.15em; line-height:1.5em;}
.section5 { text-align: center; }
.section5 .content-block { background-color:#FFF;padding-bottom:4em !important;}
.section4 { background-color:#F0F0F0;padding-bottom:4em !important; }
.section4 .proj-block {display: inline-block;padding: 0 15px;vertical-align:top;width:500px;text-align:left; position:relative;}
.section4 .proj-block .pb-title-main {font-family: 'Raleway', sans-serif;text-transform: uppercase; font-size: 1.15em; line-heigh:1.5em;}
.section4 .proj-block .pb-title-sub {font-size: 1.15em; line-heigh:1.5em;}
.section4 .proj-block .pb-text {font-size: 1em; line-height:1.5em; padding-bottom:1em;}
.section4 .proj-block .pb-pic {height:120px; width:100%; position:relative;margin:15px 0;}
.section4 .proj-block.pb2 .pb-pic{ background-image: url("/static/img/logiscs.jpg"); background-position: 50% 50%;}
.section6 { background-color:#F0F0F0;padding-bottom:0 !important; }
.section6 .map-block { height:400px; }
.pics-block .pic {display: inline-block;width:180px;padding: 0 15px;}
.inline {display: inline-block;padding: 0 15px;vertical-align:middle;}
.inline .serv {display: inline-block;margin: 0 20px;font-family: 'Raleway', sans-serif; text-transform: uppercase; font-size: .92em;}
.inline .serv a, .inline .serv a:active, .inline .serv  a:visited {color:#666;text-decoration: none;}
.inline .serv a:hover {border-bottom: 2px solid #e8194d;text-decoration: none;}
#logo {padding-top: 20px;}

.section2 .content-block { background-image: url("/static/img/innoo2.png"); padding: 3em;color:#FFFFFF;}
.section2 .content-block .services-list {vertical-align:top;}
.section2 .content-block .serv { /*padding-left:80px;*/ position: relative; display:inline-block; padding:1em; width:300px; text-align:left;vertical-align: top;}
.serv .serv-icon { /* position: absolute; left:0px; top:0px; */ padding-bottom:1.5em;}
.serv .serv-title {font-size: 1.3em;font-weight:bold; line-height:1.5em; padding-bottom:1em;}
.serv .serv-text {font-size: 1em; line-height:1.5em; padding-bottom:2em;}

.map-label { text-shadow: -1px -1px 0 #ffffff,1px -1px 0 #ffffff,-1px 1px 0 #ffffff,1px 1px 0 #ffffff; font-weight:bold; }

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	font-family: 'Raleway', sans-serif; text-transform: uppercase; font-size: .92em;
	display: inline-block;
	margin: 0 .25em;
}

header nav li a,
header nav li a:active,
header nav li a:visited  {
	padding: .25em .5em;
	border-radius: .25em;
	color:#666 !important;text-decoration: none;
}

header nav li a:hover {
background-color: #e6e6e6;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: #e6e6e6;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}
@media screen and (max-width: 915px)
{ 	#mmenu {display:none; background-color:#FFF;}
	#mmenulogo {display:inline-block;}
	#mmenu.inline .serv {display: block; padding: 15px 0;}
	#main-h1 {font-size: 3em;}
	#main-h2 {font-size: 1.6em;}
	.title-block h2 {font-size: 2em;}
}
@media screen and (max-width: 600px)
{ 
	.section4 .proj-block {display: block;width:auto;max-width:500px;}
}
@media screen and (min-width:768px) {
	:root {
		/* font-size: 1.1rem; */
	}
}
