<div id="sections">
	{% for section in sectionslist | sortSectionByOrder %}
	{% if section.data.language == "ru" %}
 		<div class="section section{{ section.data.order }}">
				<div>
				{{ section.templateContent | safe }}
				</div>
		</div>
	{% endif %}
	{% endfor %}
</div>
