<div id="sections">
	{% for section in sort(sectionslist, data.order) %}
 		<div class="section section{{ section.data.order }}">
				<div>
				{{ section.data.title }}
				</div>
		</div>
	{% endfor %}
</div>
