<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

<body>
		<header>
		<div class="header-menu fixed-top center">
		   <div class="inline">{% include "components/nav.njk" %}</div>
		   <div id="logo" class="inline"><a href="{{ '#top' | url }}"><img src="/static/img/logo1.png" width=60 height=60 alt="{{ metadata.title }}"></a></div>
		   <div id="mmenulogo" class="inline hides"><i class="fa fa-bars fa-2x"></div>
		   <div id="mmenu" class="inline">
		      <div class="serv"><a href="#services">Services</a></div>
		      <div class="serv"><a href="#about">About Us</a></div>
		      <div class="serv"><a href="#projs">Our Projects</a></div>
		      <div class="serv"><a href="#experts">Our Expertise</a></div>
		      <div class="serv"><a href="#contact">Contact us</a></div>
		   </div>
		</div>
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
		
		{% include "components/footer.njk" %}
		
	</body>
</html>
