<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

<body>
		<header>
		<a id="top"></a>
		<div class="header-menu fixed-top center">
		   <div class="inline">{% include "components/nav.njk" %}</div>
		   <div id="logo" class="inline"><a href="{{ '#top' | url }}"><img src="/static/img/logo1.png" width=80 height=80 alt="{{ metadata.title }}"></a></div>
		   <div id="mmenulogo" class="inline"><i class="fa fa-bars fa-x"></div>
		   <div id="mmenu" class="inline">
		      <div class="serv"><a href="#services">Услуги</a></div>
		      <div class="serv"><a href="#about">О нас</a></div>
		      <div class="serv"><a href="#projs">Проекты</a></div>
		      <div class="serv"><a href="#experts">Компетенция</a></div>
		      <div class="serv"><a href="#contact">Контакты</a></div>
		   </div>
		</div>
		</header>
		<main>
			{{ layoutContent | safe }}
		</main>
		
		{% include "components/footer.njk" %}
		
	</body>
</html>
