<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header class="fixed-top">
		<div class="header-menu fixed-top">
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			{% include "components/nav.njk" %}
		</div>
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
