---
layout: layouts/base.njk
section: home
---
<div id="section_main">
<div class="page-wrapper">
<div class="page-background">
{{ layoutContent | safe }}
</div>
</div>
</div>

{% set sectionslist = collections.sections %}
{% include "components/sectionslist_en.njk" %}
{% include "components/form.njk" %}
