---
layout: layouts/base_ru.njk
section: page
---
<div id="section_main" class="ru">
<div class="page-wrapper">
<div class="page-background">
{{ layoutContent | safe }}
</div>
</div>
</div>

{% set sectionslist = collections.sections %}
{% include "components/sectionslist.njk" %}
{% include "components/form_ru.njk" %}
